@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "VT323", monospace;
  font-size: 18px;
  box-sizing: border-box;
  cursor: url("/images/cursor.cur"), auto;
  overflow: hidden;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #c9c9c9;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-top: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
  border-right: 2.5px solid #000;
  border-bottom: 2.5px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}

.initial-screen {
  background-color: #212121;
  height: 100vh;
}

.initial-screen span {
  color: #fafafa;
  font-size: 1.5rem;
}

.blinker {
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  margin-left: -5px;
  border-left: 7px solid #fafafa;
  animation: blinker 0.6s steps(2, start) infinite;
}

@keyframes blinker {
  to {
    visibility: hidden;
  }
}
